@model AnyWhere____Network_Project_Website.ViewModel.VM
@using AnyWhere____Network_Project_Website.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Flights/SearchResult.cshtml";
}
@{
    try
    {
        if (Model.flights.Count() != 0)
        {
            foreach (Flights flight in Model.flights)
            {
                <div class="card border-primary text-center shadow">
                    <div class="card-header bg-primary text-white d-flex align-items-center justify-content-between text-center">
                        <h5 class="card-title text-center mx-auto ps-5  mt-2">@flight.From <i class="fas fa-plane-departure ">&rarr;</i> @flight.To</h5>                 
                        <span class="badge badge-secondary">@flight.Company</span>
                    </div>
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="row w-100">
                            <div class="col-sm-5">
                                <p class="card-text mb-0"><strong>Departure:</strong> @flight.Depart</p>
                                <p class="card-text mb-0"><strong>Time:</strong> @flight.Time_Depart</p>
                            </div>
                            <div class="col-sm-2">
                                <h1>&rarr;</h1>
                            </div>
                            <div class="col-sm-5">
                                <p class="card-text mb-0"><strong>Return:</strong> @flight.Return</p>
                                <p class="card-text mb-0"><strong>Time:</strong> @flight.Time_Return</p>
                            </div>
                        </div>
                        <hr class="w-100">
                        @{
                            if (flight.isLowCost)
                            {
                                <div class="row w-100">
                                    <div class="col-sm-4">
                                        <p class="card-text mb-0"><strong>Stops:</strong> @flight.Stops</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="card-text mb-0"><strong>Low Cost</strong> </p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="card-text mb-0"><strong>Seats:</strong> @flight.Sits</p>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row w-100">
                                    <div class="col-sm-6">
                                        <p class="card-text mb-0"><strong>Stops:</strong> @flight.Stops</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="card-text mb-0"><strong>Seats:</strong> @flight.Sits</p>
                                    </div>
                                </div>
                            }



                        }

                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <a href="@Url.Action("BuyTicket", "Booking", new { id = flight.f_Id} )" class="btn btn-primary d-grid col-3 mx-auto shadow">$@flight.TicketPrice</a>
                    </div>
                </div>
                <br />
            }
        }
        else
        {
            <div class="alert alert-primary" role="alert">
                No Flights Are Found! Try Buying Ticket First..
            </div>
            <button class="btn btn-primary my-1 rounded-3" onclick="location.href='@Url.Action("Index", "Home")'">Go Back</button>
        }
    }
    catch (System.NullReferenceException)
    {

        <div class="alert alert-primary" role="alert">
            No Flights Are Found! Try Buying Ticket First..
        </div>
        <button class="btn btn-primary my-1 rounded-3" onclick="location.href='@Url.Action("Index", "Home")'">Go Back</button>

    }
}

