@model AnyWhere____Network_Project_Website.ViewModel.VM
@using AnyWhere____Network_Project_Website.Models

@{
    ViewBag.Title = "BookTable";
    Layout = "~/Views/Admin/DashBoard.cshtml";
}
<div class="tab-content">
    <div class="tab-pane container active p-0" id="home">
        <h5 class="text-uppercase p-2 text-center">List of Books</h5>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark text-black">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Depart</th>
                    <th>Time Depart</th>
                    <th>Return</th>
                    <th>Time Return</th>
                    <th>Number Of Tickets</th>
                    <th>TotalPrice</th>
                </tr>
            </thead>
            @if (Model.books.Count() != 0)
            {
                foreach (Booking book in Model.books)
                {
                    <tr>
                        <td>@book.FirstName</td>
                        <td>@book.LastName</td>
                        <td>@book.Email</td>
                        <td>@book.Company</td>
                        <td>@book.From</td>
                        <td>@book.To</td>
                        <td>@book.Depart</td>
                        <td>@book.Time_Depart</td>
                        <td>@book.Return</td>
                        <td>@book.Time_Return</td>
                        <td>@book.NumberOfTickets</td>
                        <td>@book.TotalPrice</td>
                    </tr>
                }
            }
            else
            {

                <div class="alert alert-primary" role="alert">
                    No Flights Are Found!
                </div>
            }
        </table>
    </div>
</div>